<div class="container" id="sections">

</div>
<div class="container">
	<div class="row">
		<div class="divider"></div>
		<div class="col offset-s5 s7">
			<div class="input-field col s3">
				<p>Activate learning</px>
			</div>
			<div class="input-field col s4">
				<div class="switch">
					<label>
						Off
						<input type="checkbox" id="learning">
						<span class="lever"></span>
						On
					</label>
				</div>
			</div>
			<div class="input-field col s5">
				<a class="waves-effect waves-light btn-large"><i class="mdi-file-cloud-download right"></i>Download</a>
			</div>
		</div>
	</div>
</div>

