<form>
    <div data-editors="id"><!-- firstName editor will be added here --></div>
    <div data-editors="name"><!-- lastName editor will be added here --></div>
    <div data-editors="password">
        <div class="notes">Must be at least 7 characters:</div>
        <!-- password editor will be added here -->
    </div>

</form>