<nav class="top-nav">
    <div class="container">
        <div class="row">
            {% block side_nav %}
                {% include 'partials/side-nav.html.twig' %}
            {% endblock %}
            <p class="page-title">Drupal Generator</p>
            <a>A GUI to generate Drupal 8 module using the Drupal Console project</a>
        </div>
    </div>
</nav>
