 <nav class="top-nav">
  <div class="container">
    <div class="row">
      <ul id="slide-out" class="side-nav fixed">
        <div class="logo-container">
          <img src="images/logo.png">
        </div>
        <div id="main-menu">
        </div>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <p class="page-title">Drupal Generator</p>
      <a>A GUI to generate Drupal 8 module using the Drupal Console project</a>
    </div>
  </div>
</nav>