body {
  background: #fafafa;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.description, .logo {
  width: 30%;
  float: left;
  margin-right: 10px;
}
.description {
  margin-right: 0;
  width: 68%;
  font-size: 16px;
  line-height: 1.5;
}
.form {
  width: 75%;
}
.toggle-container {
  margin: 2em auto;
}
.buttons {
  margin-top: 3em;
}
.console-display {
  background: rgb(232,232,232);
  padding: 2em;
  margin-top: 3em;
}
