/*** Hack to rewrite default colors anf font paths ***/
@import "../bower_components/materialize/sass/components/color";
/*** Colors ***/
$primary-color: color("light-blue", "darken-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: color("light-blue", "darken-2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

/*** Fonts ***/
$roboto-font-path: "../bower_components/materialize/font/roboto/" !default;
$icons-font-path: "../bower_components/materialize/font/material-design-icons/" !default;
@import "../bower_components/materialize/sass/components/variables";
/*** End Hack ***/
@import "../bower_components/materialize/sass/materialize";

header, main, footer {
    padding-left: 240px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
ul.side-nav.fixed {
    color: #000000;
}
@media #{$medium-and-up} {
    .container {
        width: 85%;
    }
}
header{
    p.page-title{
        font-size: 48px;
        line-height: 48px;
        margin: 20px 0px 0px;
    }
    .top-nav{
        height: 150px;
    }
    .logo-container{
        img{
            width: 120px;
            margin-top:15px;
        }
        text-align: center;
        height: 150px;
        border-bottom: 1px solid #DDD;
    }
}
li.active{
    background: $primary-color;
    a{
        color: white;
    }
}
ul.side-nav.fixed{
    overflow: auto;
}