{% block side_nav %}

<ul id="slide-out" class="side-nav fixed">
    <div class="logo-container">
        <img src="{{ asset('images/logo.png') }}">
    </div>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="waves-effect collapsible-header">Generators</div>
            <div class="collapsible-body">
                <ul>
                    <li class="active"><a class="waves-effect" href="#module">Module</a></li>
                    <li><a class="waves-effect" href="#controller">Controller</a></li>
                    <li><a class="waves-effect" href="#permission">Permissions</a></li>
                    <li><a class="waves-effect" href="#service">Service</a></li>
                    <li><a class="waves-effect" href="#entity">Entity</a></li>
                    <li><a class="waves-effect" href="#form-config">Form Config</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="waves-effect collapsible-header">Plugin Generators</div>
            <div class="collapsible-body">
                <ul>
                    <li><a class="waves-effect" href="#block">Block</a></li>
                    <li><a class="waves-effect" href="#image-effect">Image Effect</a></li>
                    <li><a class="waves-effect" href="#rest-resource">REST Resource</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="waves-effect collapsible-header">Third Generators</div>
            <div class="collapsible-body">
                <ul>
                    <li><a class="waves-effect" href="#rules-action">Plugin Rules Action</a></li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
{% endblock %}
